.text {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.vertical-list-button {
    background-color: rgba(164, 161, 161, 255);
    color: rgba(0, 0, 0, 255);
    font-size: 28px;
    width: 100%;
    -unity-text-align: middle-center;
}
